{% extends "header.html" %}

{% block body %}

 
<div class="container" style="text-align:center"><h3 class="card-text"> Recent Uploads </h3></div>

<div class="container">
	<div class="row">
	{% for k,v in recent.items() %}
	<div class="abc">
	<img src="{{url_for('static',filename='poster_img/'+ k +'.jpg')}}" style="height:200px">
    <a href="{{'-'.join(k.split(' '))}}"<h4 class="card-text">{{ k.upper() }}</h4></a>
	<p>{{ v[:50]+"..." }}<p>
    </div>
	{% endfor %}
	</div>
</div>

{% endblock %}



